
html, body {
    height: 100%;
}
body {
    font-family: sans-serif;
    font-size: 12px;
    color: white;
    background-color: #1e1e1e;
}

#log {
	width: 600px;
	height: 400px;
	background-color: #444;
}

#pager {
	width: 600px;
	height: 60px;
	background-color: #444;
}

a#settings, a#settings:hover{
  color: white;
  text-decoration:none;
  font-weight:bold;
}

#settings_panel {
  position: absolute;
  top: -8px;
  left: 178px;
  width: 258px;
  z-index: 1;
  background-color: inherit;
  padding: 10px;
  margin: 20px;
  display: none;
  border: 1px solid white;
}

#logo{
    width: 100px;
    vertical-align: middle;
}

.chart {
  padding: 5px;
  margin: 5px;
  margin-top: 10px;
  padding-top: 10px;
  border-top: solid white 1px;
}

.chart input {
  width: 141px;
}

select {
  margin-top: 5px;
  margin-left: 22px;
}

#settings_close_button {
  position: absolute;
  top: 8px;
  right: 5px;
}

#settings_save {
  margin-left: 21px;
}

.fields {
  margin: 5px;
  padding: 5px;
}
}
